@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.about-us {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  background: #fff;
}
.pic {
  height: auto;
  width: 400px;
  border-radius: 12px;
}
.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text {
  width: 540px;
}
.text h2 {
  color: #333;
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h5 {
  color: #333;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span {
  color: #4070f4;
}
.text p {
  color: #333;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data {
  margin-top: 30px;
}
.hire {
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover {
  background: #000;
}

/* Style for the social handles section */
.social-handles {
  text-align: center;
  margin: 30px 0;
}

.social-handles h2 {
  font-size: 24px;
}

/* Style for the social icons */
.social-icons {
  list-style: none;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin: 0 10px;
}

.logo {
  width: 50px; /* Set the width in pixels or any other unit you prefer */
  height: 50px; /* Set the height in pixels or any other unit you prefer */
  transition: transform 0.2s; /* Add a hover effect */
}

/* Hover effect for the social icons */
.logo:hover {
  transform: scale(1.6);
}

/* Style for the resume section */
.resume {
  text-align: center;
  padding: 40px;
}

.resume h2 {
  font-size: 36px;
  color: #333;
}

/* Style for the embedded PDF */
.resume {
  width: 55%;
  height: 253%;
  max-width:auto;
  margin: 0 auto;
}
.resume-pdf
{
  height: 50%;
}

.projects
{
  width: 80%;
}
.list
{
  padding-left: 20px;
  padding-top: 30px;
  
}
.background-image {
  background-image: url('image12.jpg'); /* Replace 'path-to-your-image.gif' with your image file path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}